<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="AHT_ProductQuestions::questions" translate="title" title="Questions Products" module="AHT_ProductQuestions" sortOrder="10" action="questions/index" resource="AHT_ProductQuestions::questions" parent="Magento_Backend::marketing_user_content"/>
    </menu>
</config>